
.contact_head {
    text-align: left;
    
}
.padding {
    font-size: 1.1em;
    padding-right: 6em;
}
.p_padding {
   width: 100%;
   padding-right: 8em;
}
.contact-form {
    margin-left: 8em;
}
.form {
    margin: .5em auto;
}
.name {
    width: 320px;   
}
.textarea {
    width: 350px;
}
.submit {
    padding: .4em;
    font-size: 1em;
    background-color: #febf01;
    border: darkslategrey solid 1px;
    box-shadow: 2px 3x 6px black;
    border-radius: 3px;
    color: cornsilk;
}
